/*import comic sans for if user isn't on windows*/
@font-face {
    font-family: "Comic Sans MS";
    src: url(fonts/COMIC.TTF);
}
@font-face {
    font-family: "Comic Sans MS";
    src: url(fonts/COMICBD.TTF);
    font-weight: bold;
}
@font-face {
    font-family: "Comic Sans MS";
    src: url(fonts/COMICI.TTF);
    font-style: italic;
}
@font-face {
    font-family: "Comic Sans MS";
    src: url(fonts/COMICZ.TTF);
    font-style: italic;
    font-weight: bold;
}

.main {
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;

    &>p {
        max-width: 75%;
        font-size: 125%;
    }

    &>h3 {
        font-size: 125%;
    }
}


:root {
    background-image: url("images/webbg.png");
    background-position-y: 0px;
    background-size: 1000px;
    color:rgb(255, 196, 225);
    font-family: "Comic Sans MS";
    text-align: center;
}

body {
    margin: 0;
    padding: 8px;
}

a {
    color:#ff2aca;

    &:visited {
        color: #aa29ff;
    }
}

button {
    background-color: #ff51a275;
    backdrop-filter: blur(5px);
    padding: 2px;
    border: none;
    border-radius: 3px;
    transition: 0.25s;
    
    &:hover {
        box-shadow:inset 0px 0px 0px 1px rgb(255, 93, 134);
    }

    p {
        color:rgb(255, 196, 225);
        font-size: 125%;
        font-family: "Comic Sans MS";
        margin: auto;
    }
}

ul {
    text-align: center;
}

li {
    &.silver-star {
        list-style-image: url(./images/starsilver.png);
    }
    
    &.gold-star {
        list-style-image: url(./images/starawesome.png);
        font-weight: bold;
    }
}

.topbar {
    position: sticky;
    z-index: 1000;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 10%;
    font-size: 125%;
    background-color: #ff11b860;
    box-shadow: inset 0 0 100px #ff5cc99d;
    backdrop-filter: blur(10px);
    border-radius: 15px;
}

@media screen and (max-width: 500px) {
    .topbar img {
        display: none;
    }        
}