@font-face {
    font-family: comicsans;
    src: url(fonts/COMIC.TTF);
}

@font-face {
    font-family: comicsans;
    src: url(fonts/COMICBD.TTF);
    font-weight: bold;
}

@font-face {
    font-family: comicsans;
    src: url(fonts/COMICI.TTF);
    font-style: italic;
}

@font-face {
    font-family: comicsans;
    src: url(fonts/COMICZ.TTF);
    font-style: italic;
    font-weight: bold;
}

body {
    background-image: url("images/webbg.png");
    background-size: 75%;
    font-family: comicsans;
    color:rgb(255, 196, 225);
}

.topbar {
    position: sticky;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    top: 0;
    height: 10%;
    font-size: 150%;
    background-color: #e311ff60;
    box-shadow: inset 0 0 100px #ec5cff9d;
    backdrop-filter: blur(10px);
    border-radius: 15px;
}

.main {
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
}

.cooltext {
    background: linear-gradient(60deg, #ff0080, #d400ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

a {
    color:#aa29ff;
    font-size: 115%;
}

a:visited {
    color:#ff29ca
}

ul {
    list-style-image: url("images/list.png");
}

@keyframes links {
    0%, 100% {transform: scaleY(150%); color:#aa29ff;}
    50% {transform: scaleY(75%); color: #ff29ca;}
}

#links {
    animation-name: links;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}